*{
text-align: center;
 }
/* estilo a los botones del header  */
#verTodo{
    background-color: gray;
}
#normal{
    background-color: rgb(235, 177, 108);
}
#water{
    background-color:rgb(1, 141, 255);

}
#fire{
    background-color:orangered;
}
#grass{
    background-color:rgb(24, 139, 9);

}
#ground{
    background-color:rgb(156, 75, 75);

}
#bug{
    background-color:rgb(186, 221, 104);

}
#fairy{
    background-color:rgb(213, 115, 233);

}
#poison{
    background-color:rgb(79, 0, 95);

}
#electric{
    background-color:rgb(192, 174, 10);

}
#fighting{
    background-color:rgb(255, 1, 1);

}
#rock{
    background-color:rgb(131, 131, 130);

}
#ghost{
    background-color:rgb(0, 0, 0);

}
#psychic{
    background-color:rgb(120, 59, 133);

}
#ice{
    background-color:rgb(110, 121, 153);

}
#flying{
    background-color:rgb(81, 148, 160);

}
#steel{
    background-color:rgb(105, 105, 105);

}
#dragon{
    background-color:rgb(241, 167, 29);

}

 .listaPokemon  {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    padding: 20px;
    
 }
 .cardPokemon{
    background-color: white;
    width: 280px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgb(184, 184, 184);
    cursor: pointer;
    
 }
.cardPokemon:hover{
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    transform: scale(1.03);
}

 img{
    width: 150px;
 }
.nombrePokemon{
    text-transform: uppercase;
    display: flex;
    justify-content: center;

}
#idPokemon{
    color: gray;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
}
#nombrePokemon{
    color: rgb(2, 2, 0);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}
.tipoPokemon{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#typePokemon{
    color: black;
    padding: 2px 10px;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: yellow;
    font-weight: bold;
    text-transform:uppercase;
}

.stats{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.stat{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

/* tipos de pokemon  */
.tipo{
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 20px;
 }

.normal{
    color: white;
    background-color: rgb(235, 177, 108);
    padding: 2px 10px;
    display: inline-block;
 }

 .fire{
    color: white;
    background-color:orangered;
    padding: 2px 10px;
    display: inline-block;
 }

 .grass{
    color: white;
    background-color:rgb(24, 139, 9);
    padding: 2px 10px;
    display: inline-block;
 }

 .bug{
    color: white;
    background-color:rgb(186, 221, 104);
    padding: 2px 10px;
    display: inline-block;
 }

 .ground{
    color: white;
    background-color:rgb(156, 75, 75);
    padding: 2px 10px;
    display: inline-block;
 }

 .fairy{
    color: white;
    background-color:rgb(213, 115, 233);
    padding: 2px 10px;
    display: inline-block;
 }

 .water{
    color: white;
    background-color:rgb(1, 141, 255);
    padding: 2px 10px;
    display: inline-block;
 }

 .poison{
    color: white;
    background-color:rgb(79, 0, 95);
    padding: 2px 10px;
    display: inline-block;
 }

 .electric{
    color: white;
    background-color:rgb(192, 174, 10);
    padding: 2px 10px;
    display: inline-block;
 }

 .rock{
    color: white;
    background-color:rgb(131, 131, 130);
    padding: 2px 10px;
    display: inline-block;
 }

 .fighting{
    color: white;
    background-color:rgb(255, 1, 1);
    padding: 2px 10px;
    display: inline-block;
 }

 .ghost{
    color: white;
    background-color:rgb(0, 0, 0);
    padding: 2px 10px;
    display: inline-block;
 }

 .psychic{
    color: white;
    background-color:rgb(120, 59, 133);
    padding: 2px 10px;
    display: inline-block;
 }

 .ice{
    color: white;
    background-color:rgb(110, 121, 153);
    padding: 2px 10px;
    display: inline-block;
 }

 .dragon{
    color: white;
    background-color:rgb(241, 167, 29);
    padding: 2px 10px;
    display: inline-block;
 }
.steel{
    color: white;
    background-color:rgb(105, 105, 105);
    padding: 2px 10px;
    display: inline-block;
 }

 .flying{
    color: white;
    background-color:rgb(81, 148, 160);
    padding: 2px 10px;
    display: inline-block;
    
 }

 .nav{
    display: flex;
    justify-content: center;
    padding: 30px;
 }
 .navList{
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
 }
 .btn-header{
    padding: 3px 10px;
    color: white;
    border-radius: 30px;
    background-color:rgb(241, 167, 29);
    border: transparent;
    text-transform: capitalize;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
    cursor: pointer;
    
 }

 .btn-header:hover{
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
 }
 /* modal.style.display = 'none';
 modal.style.position = 'fixed';
 modal.style.top = '0';
 modal.style.left = '0';
 modal.style.width = '100%';
 modal.style.height = '100%';
 modal.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
 modal.classList.add('modal'); */
.modalHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
.modalBody,.modalBody2{
    display: flex;
    color: rgb(5, 5, 5);
    justify-content: center;
    gap: 1rem;
    font-weight: 500;
}
